@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Mob:</abbr>
    8787260520
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:spgupta822@gmail.com">spgupta822@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:shubham.18353@gmail.com">shubham.18353@gmail.com</a>
</address>
<br />
<p>
    <a href="https://github.com/shubham18353" class="btn btn-success">Contact Developer</a>
</p>